<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet"/>
    <link rel="icon" href="{{ url_for('static', filename='movies.ico') }}" type="image/x-icon" />
  </head>
  <body>
    <div class="card">
      <img src="{{ url_for('static', filename='images/404.png') }}" alt="Error 404">
      <h1>The Movie, Genre or Actor you searched for doesn't exist.</h1>
      <form action="/">
        <button type="submit">Home</button>
      </form>
    </div>
    <p id="copyright">COPYRIGHT © 2023 Nitesh Mali</p>
  </body>
</html>
