<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="{{ url_for('static', filename='movies.ico') }}" type="image/x-icon" />
  </head>
  <body>
    <div class="card">
      <form method="post">
        <div class="swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="{{ url_for('static', filename='images/logo1.png') }}" />
                <h2>Movie Recommender</h2>
                <h3>Enter movie name</h3>
                <input
                  spellcheck="false"
                  oninput="checkValid(event)"
                  type="text"
                  name="movie_name"
                  placeholder="E.g. Avatar"
                />
                <button  type="button" onclick="gotoSlide(1)">Next</button>
              </div>
              <div class="swiper-slide">
                <div className="image-wrapper">
                  <img src="{{ url_for('static', filename='images/logo2.png') }}" />
                </div>
                <h2>Enter Movie Count</h2>
                <h3>Enter any number of movies you want.</h3>
                <input
                  oninput="checkValid(event)"
                  type="number"
                  name="movie_ret_count"
                />
                <button  type="submit" id="submit">
                  Next
                </button>
              </div>
          </div>
        </div>
      </form>
    </div>
    <p id="copyright">COPYRIGHT © 2023 Nitesh Mali</p>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
